.hero{

width: 100%;

}

.menu{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
}
a{
    color: blue;
    
}

.content{
    width: 100%;
    background-color:white;
    color:black;
    
}

.anuk{
    width: 100%;
    background-color:lightgrey;
    color:black;
    padding: 5px;   
}

.footer{
    width: 100%;
    background-color:#000038;
    color:white;
    padding: 5px;  
    overflow:auto; 
}

.footer_img{
width: 100%;
}

img{
    width: 100%;
    display: block;
}

.blocks{
    width:100%;
    display: grid;
    grid-template-areas:
    'div1 div2'
    'div3 div4';

}

@media (max-width: 600px) {
    .blocks{
       background-color: lightblue;
       grid-template-areas:
      'div2'
      'div1'
      'div3'
      'div4';
      grid-template-columns: repeat(2, 100%);
      grid-template-rows: repeat(2, 250px);
        
    }
}

@media (max-width: 600px) {
    .div1{
        margin:0px 20px;
    }
@media (max-width: 600px) {
    .div2{
        margin:0px 20px;
    }
    
@media (max-width: 600px) {
    .div3{
        margin:0px 20px;
    }
    
@media (max-width: 600px) {
    .div4{
        margin:0px 20px;
    }
        
    
.div1{
    background-color: lightblue;
    grid-area: div1;
    padding: 10px;
}

.div2{
    background-color: #FF7276;
    grid-area: div2;
    padding: 10px;
}

.div3{
    background-color: #FF7276;
    grid-area: div3;
    padding: 10px;
}

.div4{
    background-color: lightblue;
    grid-area: div4;
    padding: 10px;
}


.blerg{
    font-size: x-large;
    padding:5px;
}

.menu_btn {
    background-color: lightblue;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin:3px;
}



